parameters:
	level: 9
	paths:
		- src
	stubFiles:
		- stubs/Scn/DeeplApiConnector/DeeplClientInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/FileSubmissionInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/FileTranslationConfigInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/FileTranslationStatusInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/FileTranslationInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/TranslationConfigInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/TranslationInterface.stub
		- stubs/Scn/DeeplApiConnector/Model/UsageInterface.stub
